@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

html
{
    font-size: 62.5%;
}


body{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #000;
    background-color: #fff;
    margin: 0;
}


.box1 {
    border:solid 3px #ff0000;
    margin: 20px;
}

.box2 {
    border:solid 3px #4169e1;
    margin: 20px;
}

.box3 {
    border:solid 3px #008000;
    margin: 20px;
}

h1 {
    text-align: center;
}


h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #a3d6cc;
}

.button1 {
    color: #fff;
    background-color:#009e9f;
    border-radius: 5px;
}

.box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .box-wrap {
    flex-direction: column;
  }
}

body {
    max-width: 100%;
}

.top-image{
  background-image: url("https://pixabay.com/get/eb32b10f2bfc1c3e955d4604ef494193fe76e7d41bb8194192f8c6/england-270038.jpg?attachment、https://pixabay.com/ja/%E3%82%A4%E3%82%AE%E3%83%AA%E3%82%B9-%E9%A2%A8%E6%99%AF-%E8%8B%B1%E5%9B%BD%E3%81%AE%E6%99%AF%E8%89%B2-%E6%9C%A8-%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3-270038/");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
