@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

html
{
    font-size: 62.5%;
}


body{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #000;
    background-color: #fff;
    margin: 0;
}


.box1 {
    border:solid 3px #ff0000;
    margin: 20px;
    background-color: #ffdbdb;
    width: 400px;
}

.title1 {
    background-color: #ff7f7f;
}

.box2 {
    border:solid 3px #4169e1;
    margin: 20px;
    background-color: #dbdbff;
    width: 400px;
}

.title2{
    background-color: #7f7fff;
}

.box3 {
    border:solid 3px #008000;
    margin: 20px;
    background-color: #dbffdb;
    width: 400px;
}

.title3 {
    background-color: #7fff7f;
}

h1 {
    text-align: center;
}


h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
    background-color: #a3d6cc;
}

.button1 {
    color: #fff;
    background-color:#009e9f;
    border-radius: 5px;
}

.box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

    
}

@media (max-width: 768px) {
  .box-wrap {
    flex-direction: column;
}
 .box1 {
     width: 250px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 .box2 {
     width: 250px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 .box3 {
     width: 250px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
}

body {
    max-width: 100%;
}

.top-image {
  background-image: url("../gazou/england-270038.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px){
  .top-image {
    width: 100%;
    height: 250px;
}
}

@media screen and (min-width: 769px){
    .top-image{
        width: 100%;
        height: 500px;
    }
}